@model Tuple<IEnumerable<SelectListItem>, IEnumerable<SelectListItem>, IEnumerable<SelectListItem>>
@{
    ViewBag.Title = "Order";
}
<h2>Order</h2>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <style>
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Items").val(0); //remove selected from dropdown
            $("#Items").change(function () {
                var itemId = $("#Items").val();
                GetItemPrice(itemId);
            });
            $("input[type=text]").change(function () {
                SubTotal();
            });
        });

        function SubTotal() {
            var unitprice = $("#txtUnitPrice").val();
            var Quantity = $("#txtOuantity").val();
            var discount = $("#txtDiscount").val();

            var total = (unitprice * Quantity) - discount;
            $("#txtTotal").val(parseFloat(total).toFixed(2));
        }

        function GetItemPrice(itemId) {
            $.ajax({
                async: true,
                type: 'GET',
                dataType: 'JSON',
                contentType: 'application/json',
                data: { itemId: itemId },
                url: '/home/getItemPrice',
                success: function (data) {
                    $("#txtUnitPrice").val(parseFloat(data).toFixed(2))
                },
                error: function () {
                    alert("Error to get price");
                }
            })
        }
    </script>
    <fieldset>
        <legend>
            Restaurant
        </legend>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        Customer Name:
                        @Html.DropDownList("Customer", new SelectList(Model.Item1, dataValueField: "Value", dataTextField: "Text"),
                         htmlAttributes: new { @class = "form-control" })

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        Payment Method:
                        @Html.DropDownList("PaymentType", new SelectList(Model.Item3, dataValueField: "Value", dataTextField: "Text"),
                         htmlAttributes: new { @class = "form-control" })

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        Final Amount :
                        <input type="text" readonly="readonly" id="txtFinalAmount" value="0.00" name="Total" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>
            Restaurant Item:
        </legend>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    Item:
                    @Html.DropDownList("Items", new SelectList(Model.Item2, dataValueField: "Value", dataTextField: "Text"),
                     htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    Item Price:
                    <input type="text" readonly="readonly" id="txtUnitPrice" value="0.00" name="UnitPrice" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    Quantity:
                    <input type="text" id="txtOuantity" value="0.00" name="Quantity" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    Discount:
                    <input type="text" id="txtDiscount" value="0.00" name="Discount" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    Sub Total:
                    <input type="text" readonly="readonly" id="txtTotal" value="0.00" name="Total" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" style="margin-top:20px" value="Add To List" name="AddToList" id="btnAddToList" class="btn btn-success">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>
            Order Item List:
        </legend>
        <table style="width:100%">
            <thead>
                <tr>
                    <th hidden>
                        Item Id
                    </th>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Unit Price
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Discount
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
        </table>
    </fieldset>

